<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Dipo Ogunmodede Last FM prototype</title>
	</head>
	<body>
		<main id="LastFM">
			<!-- <button v-on:click="updateTopArtists()">Get or Update Dipo's Top Artists</button> -->
			<h1>This is a very ugly application that will show you every song I've listened to today.</h1>
			<button v-on:click="updateRecentTracks
()">Request update</button>
			<!-- <button v-on:click="getPreviousPage()">Prev</button>
			<button v-on:click="getNextPage()">Next</button> -->
			<label for="autoRefresh">Refresh automatically
			<input id="autoRefresh" v-model="autoMode" type="checkbox"></label>
			{{autoMode}}
			<div class="mostRecentTracks">
				<template v-if="recentTracks">
					<p>Dipo's most recent tracks <span v-if="autoMode">(updates automatically)</span></p>
					<p v-if="cachedTopArtistsTimeStamp">Retrieved on {{cachedRecentTracksTimeStamp.time}}</p>
					<ul class="mostRecentTracksList">
						<li v-for="(track, index) in recentTracks" :key="`track-${index}`" class="track" v-bind:class="'track-' + index">
							<span :class="{ playing: track['@attr'] && track['@attr'].nowplaying }">
								{{track.artist['#text']}} - {{track.name}}
								{{track['@attr'] && track['@attr'].nowplaying ?
								'(Dipo is listening to this right now)' : ''}}

								{{track.date && track.date.uts ? 
								new Date(track.date.uts * 1000).toLocaleTimeString() : ''}}
							</span>

						</li>
					</ul>
				</template>
			</div>
			<div class="topArtists">
				<p v-if="errorState">There has been an error. <span v-if="cachedArtists||cachedRecentTracks">Here is a previously cached list</span>
				</p>
				<template v-if="myArtists">
					<p>Dipo's top artists</p>
					<p v-if="cachedTopArtistsTimeStamp">Retrieved on {{cachedTopArtistsTimeStamp.time}}</p>
					<ul class="artistList">
						<li v-for="(artist, index) in myArtists" :key="`artist-${index}`" v-bind:class="'artist-' + index">
6
						<span>{{artist.name}} - {{artist.playcount}} plays</span>

						</li>
					</ul>
				</template>
			</div>
			
		</main>
	</div>
</body>

</html>
<script src="axios.js"></script>
<script src="vue.js"></script>
<script src="scripts.js" type="text/javascript"></script>
<style type="text/css">
li {
	list-style-type: none;
}
</style>