<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="">
	<link rel="manifest" href="./manifest.webmanifest">
	<title>Dipo's Progressive Web App</title>
</head>

<body>
	<div id="LastFM">
		<button v-on:click="updateTopArtists()">Get or Update Dipo's Top Artists</button>
		<template v-if="myArtists">
			<div>
				<p>Dipo's top artists</p>
				<p v-if="errorState">There has been an error.
				<!-- <span v-if="cachedArtists">Here is a previously cached list</span> --></p>
				<p v-if="cachedTimeStamp">Retrieved on {{cachedTimeStamp.time}}</p>
				<ul class="artistList">
					<li v-for="(artist, index) in myArtists" :key="`artist-${index}`" v-bind:class="'artist-' + index">
						<!-- <img :src="backgroundImage(artist)"> -->
						<span>{{artist.name}} - {{artist.playcount}} plays</span>
					</li>
			</div>
		</template>
		</ul>
	</div>
	</div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="vue.js"></script>
<script src="scripts.js" type="text/javascript"></script>
<style type="text/css">
li {
	list-style-type: none;
}

</style>
